services:
  db:
    image: mariadb:latest
    restart: always
    environment:
      - MARIADB_ROOT_PASSWORD=${MARIADB_ROOT_PASSWORD}
    volumes:
      - ./db:/var/lib/mysql
  phpmyadmin:
    image: phpmyadmin:latest
    restart: always
    depends_on:
      - db
    ports:
      - "8080:80"
    environment:
          - PMA_HOST=${PMA_HOST}
          - PMA_PORT=${PMA_PORT}
          - PMA_USER=${PMA_USER}
          - PMA_PASSWORD=${MARIADB_ROOT_PASSWORD}
  frontend:
    image: node:22
    user: node
    working_dir: /home/node/app
    environment:
      - NODE_ENV=${NODE_ENV}
    ports:
      - 3000:3000
    volumes:
      - ./frontend:/home/node/app
    command: ["npm", "run", "dev"]
  backend:
    image: node:22
    user: node
    working_dir: /home/node/app
    environment:
      - NODE_ENV=${NODE_ENV}
    ports:
      - 7000:7000
    volumes:
      - ./backend:/home/node/app
    command: ["npm", "run", "dev"]
    